<ul class="list-group">
  <% for (const todo of todos) { %>
    <li class="list-group-item">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <a href="/todos/<%= todo.id %>">
            <%= todo.title %>
          </a>
          <small class="d-block text-muted">Priorita: <%= todo.priority %></small>
        </div>
        <div>
          <% if (todo.done) { %>
            <a href="/todos/<%= todo.id %>/toggle" class="btn btn-sm btn-success">dokončeno</a>
            <a href="/todos/<%= todo.id %>/remove" class="btn btn-sm btn-danger">odebrat</a>
          <% } else { %>
            <a href="/todos/<%= todo.id %>/toggle" class="btn btn-sm btn-outline-secondary">nedokončeno</a>
          <% } %>
        </div>
      </div>
    </li>
  <% } %>
</ul>