<!DOCTYPE html>
<html lang="cs">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receptář</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="container mt-4">
    <% if (user) { %>
      <div class="mb-3">
        <strong>Přihlášený uživatel:</strong> <%= user.username %>
      </div>
    <% } else { %>
     
      <div class="mb-3">
        <a class="btn btn-primary me-2" href="/register">Registrovat se</a>
        <a class="btn btn-success" href="/login">Přihlásit se</a>
      </div>
    <% } %>
    <div>
      <a href="/recipes/new">Přidat nový recept</a>
    </div>

    <h1 class="mb-4"><%= title.toUpperCase() %></h1>

    <hr />

    <!-- Seznam receptů -->
    <div id="recipes">
      <%- include('_recipes.html') %>
    </div>

    <hr />

    <script>
      const ws = new WebSocket("ws://localhost:3000/ws");

      ws.addEventListener("message", (evt) => {
        const { type, html } = JSON.parse(evt.data);

        if (type === "recipes") {
          const el = document.getElementById("recipes");
          el.innerHTML = html;
        }
      });
    </script>
  </body>
</html>
