<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Přihlášení</h1>
    <form action="/login" method="post">
      <input
        type="text"
        name="username"
        placeholder="Jméno"
      />

      <input
        type="password"
        name="password"
        placeholder="Heslo"
      />

      <button type="submit">Přihlásit se se</button>
    </form>
  </body>
</html>
